<ul id="nav-list">
    {% for item in site.data.nav.toc %}
        {% if item.page %}
            <li><a href="{{ item.url }}" class="nav-link">{{ item.page }}</a></li>
            <p class="nav-p-hidden">{{ item.page }}</p>
        {% elsif item.subfolderitems %}
            <li>
                <details>
                    <summary class="nav-summary">{{ item.title }}</summary>
                    {% for subitem in item.subfolderitems %}
                        <a href="{{ subitem.url }}" class="nav-link nav-subfolder-link">{{ subitem.page }}</a>
                    {% endfor %}
                </details>
                {% for subitem in item.subfolderitems %}
                    <p class="nav-p-hidden nav-subfolder-p-hidden">{{ subitem.page }}</p>
                {% endfor %}
            </li>
        {% endif %}
    {% endfor %}
</ul>